In [ ]:
Q1:Import the dataset

In [1]:
import pandas as pd
df = pd.read_csv("candy.csv")
df

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,0,100 Grand,Yes,No,Yes,No,No,Yes,No,Yes,No,0.732,0.860,66.971725
1,1,3 Musketeers,Yes,No,No,No,Yes,No,No,Yes,No,0.604,0.511,67.602936
2,2,Air Heads,No,Yes,No,No,No,No,No,No,No,0.906,0.511,52.341465
3,3,Almond Joy,Yes,No,No,Yes,No,No,No,Yes,No,0.465,0.767,50.347546
4,4,Baby Ruth,Yes,No,Yes,Yes,Yes,No,No,Yes,No,0.604,0.767,56.914547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Twizzlers,No,Yes,No,No,No,No,No,No,No,0.220,0.116,45.466282
79,79,Warheads,No,Yes,No,No,No,No,Yes,No,No,0.093,0.116,39.011898
80,80,Welch's Fruit Snacks,No,Yes,No,No,No,No,No,No,Yes,0.313,0.313,44.375519
81,81,Werther's Original Caramel,No,No,Yes,No,No,No,Yes,No,No,0.186,0.267,41.904308
82,82,Whoppers,Yes,No,No,No,No,Yes,No,No,Yes,0.872,0.848,49.524113

In [ ]:
Q2:Display the head and tail of the dataset

In [2]:

df.head()

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,0,100 Grand,Yes,No,Yes,No,No,Yes,No,Yes,No,0.732,0.860,66.971725
1,1,3 Musketeers,Yes,No,No,No,Yes,No,No,Yes,No,0.604,0.511,67.602936
2,2,Air Heads,No,Yes,No,No,No,No,No,No,No,0.906,0.511,52.341465
3,3,Almond Joy,Yes,No,No,Yes,No,No,No,Yes,No,0.465,0.767,50.347546
4,4,Baby Ruth,Yes,No,Yes,Yes,Yes,No,No,Yes,No,0.604,0.767,56.914547

In [3]:
df.tail()

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
78,78,Twizzlers,No,Yes,No,No,No,No,No,No,No,0.220,0.116,45.466282
79,79,Warheads,No,Yes,No,No,No,No,Yes,No,No,0.093,0.116,39.011898
80,80,Welch's Fruit Snacks,No,Yes,No,No,No,No,No,No,Yes,0.313,0.313,44.375519
81,81,Werther's Original Caramel,No,No,Yes,No,No,No,Yes,No,No,0.186,0.267,41.904308
82,82,Whoppers,Yes,No,No,No,No,Yes,No,No,Yes,0.872,0.848,49.524113

In [ ]:
Q3:Display the column names and datatypes of the columns

In [4]:
df.columns

Index(['id', 'competitorname', 'chocolate', 'fruity', 'caramel',
       'peanutyalmondy', 'nougat', 'crispedricewafer', 'hard', 'bar',
       'pluribus', 'sugarpercent', 'pricepercent', 'winpercent'],
      dtype='object')

In [5]:
df.dtypes

id                    int64
competitorname       object
chocolate            object
fruity               object
caramel              object
peanutyalmondy       object
nougat               object
crispedricewafer     object
hard                 object
bar                  object
pluribus             object
sugarpercent        float64
pricepercent        float64
winpercent          float64
dtype: object

In [ ]:
Q4:Display statistical information about suitable columns

In [6]:
df.describe

<bound method NDFrame.describe of     id              competitorname chocolate fruity caramel peanutyalmondy  \
0    0                   100 Grand       Yes     No     Yes             No
1    1                3 Musketeers       Yes     No      No             No
2    2                   Air Heads        No    Yes      No             No
3    3                  Almond Joy       Yes     No      No            Yes
4    4                   Baby Ruth       Yes     No     Yes            Yes
..  ..                         ...       ...    ...     ...            ...
78  78                   Twizzlers        No    Yes      No             No
79  79                    Warheads        No    Yes      No             No
80  80        Welch's Fruit Snacks        No    Yes      No             No
81  81  Werther's Original Caramel        No     No     Yes             No
82  82                    Whoppers       Yes     No      No             No

   nougat crispedricewafer hard  bar pluribus  sugarpercent  pricepercent  \
0      No              Yes   No  Yes       No         0.732         0.860
1     Yes               No   No  Yes       No         0.604         0.511
2      No               No   No   No       No         0.906         0.511
3      No               No   No  Yes       No         0.465         0.767
4     Yes               No   No  Yes       No         0.604         0.767
..    ...              ...  ...  ...      ...           ...           ...
78     No               No   No   No       No         0.220         0.116
79     No               No  Yes   No       No         0.093         0.116
80     No               No   No   No      Yes         0.313         0.313
81     No               No  Yes   No       No         0.186         0.267
82     No              Yes   No   No      Yes         0.872         0.848

    winpercent
0    66.971725
1    67.602936
2    52.341465
3    50.347546
4    56.914547
..         ...
78   45.466282
79   39.011898
80   44.375519
81   41.904308
82   49.524113

[83 rows x 14 columns]>

In [ ]:
Q5:Display all the rows of the columns 'chocolate', 'caramel', and␣ 'fruity'

In [7]:
print(df[['chocolate', 'caramel', 'fruity']].to_string())

   chocolate caramel fruity
0        Yes     Yes     No
1        Yes      No     No
2         No      No    Yes
3        Yes      No     No
4        Yes     Yes     No
5         No      No     No
6         No      No     No
7         No     Yes    Yes
8        Yes      No     No
9         No      No    Yes
10        No      No    Yes
11        No      No    Yes
12        No      No    Yes
13        No      No    Yes
14        No      No    Yes
15        No      No    Yes
16        No      No    Yes
17        No      No     No
18        No      No    Yes
19        No      No    Yes
20       Yes      No     No
21       Yes      No     No
22       Yes      No     No
23       Yes      No     No
24        No      No    Yes
25       Yes      No     No
26       Yes      No     No
27        No      No    Yes
28        No      No    Yes
29        No      No    Yes
30       Yes      No     No
31       Yes      No     No
32        No      No    Yes
33       Yes     Yes     No
34       Yes     Yes     No
35       Yes     Yes     No
36       Yes     Yes     No
37       Yes      No     No
38       Yes      No     No
39        No      No    Yes
40       Yes      No     No
41       Yes      No     No
42        No      No    Yes
43        No      No    Yes
44        No      No     No
45       Yes      No     No
46        No      No     No
47        No      No    Yes
48        No      No    Yes
49       Yes      No     No
50       Yes      No     No
51       Yes      No     No
52       Yes      No     No
53        No      No    Yes
54       Yes     Yes     No
55        No      No     No
56        No      No    Yes
57       Yes      No     No
58        No      No    Yes
59        No      No    Yes
60       Yes      No     No
61        No      No    Yes
62       Yes     Yes     No
63       Yes     Yes     No
64        No      No    Yes
65        No      No    Yes
66        No      No    Yes
67        No      No    Yes
68        No     Yes     No
69        No     Yes     No
70        No      No    Yes
71        No      No    Yes
72       Yes      No    Yes
73       Yes      No     No
74       Yes      No     No
75       Yes      No     No
76        No      No    Yes
77       Yes     Yes     No
78        No      No    Yes
79        No      No    Yes
80        No      No    Yes
81        No     Yes     No
82       Yes      No     No

In [ ]:
Q6:Display the total number of competitors

In [8]:
total_competitors = df.shape[0]
print("\nTotal number of competitors:", total_competitors)

Total number of competitors: 83

In [ ]:
Q7:Display by slicing the dataset using iloc and loc commands

In [9]:
print("\nDataset using iloc (rows 0 to 4):")
print(df.iloc[:5])

Dataset using iloc (rows 0 to 4):
   id competitorname chocolate fruity caramel peanutyalmondy nougat  \
0   0      100 Grand       Yes     No     Yes             No     No
1   1   3 Musketeers       Yes     No      No             No    Yes
2   2      Air Heads        No    Yes      No             No     No
3   3     Almond Joy       Yes     No      No            Yes     No
4   4      Baby Ruth       Yes     No     Yes            Yes    Yes

  crispedricewafer hard  bar pluribus  sugarpercent  pricepercent  winpercent
0              Yes   No  Yes       No         0.732         0.860   66.971725
1               No   No  Yes       No         0.604         0.511   67.602936
2               No   No   No       No         0.906         0.511   52.341465
3               No   No  Yes       No         0.465         0.767   50.347546
4               No   No  Yes       No         0.604         0.767   56.914547

In [10]:
print(df.loc[7])

id                                   7
competitorname      Caramel Apple Pops
chocolate                           No
fruity                             Yes
caramel                            Yes
peanutyalmondy                      No
nougat                              No
crispedricewafer                    No
hard                                No
bar                                 No
pluribus                            No
sugarpercent                     0.604
pricepercent                     0.325
winpercent                   34.517681
Name: 7, dtype: object

In [ ]:
Q8:Check the dataset for any null value and fill the null value with 0.01

In [27]:
print("Abishek Charles V")
print("URK21CS1053")
df.isnull()

Abishek Charles V
URK21CS1053

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,False,False,False,False,False,False,False,False,False,False,False,False,False,False
79,False,False,False,False,False,False,False,False,False,False,False,False,False,False
80,False,False,False,False,False,False,False,False,False,False,False,False,False,False
81,False,False,False,False,False,False,False,False,False,False,False,False,False,False
82,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
print("Abishek Charles V")
print("URK21CS1053")
df.fillna(0.01)

Abishek Charles V
URK21CS1053

,id,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,0,100 Grand,Yes,No,Yes,No,No,Yes,No,Yes,No,0.732,0.860,66.971725
1,1,3 Musketeers,Yes,No,No,No,Yes,No,No,Yes,No,0.604,0.511,67.602936
2,2,Air Heads,No,Yes,No,No,No,No,No,No,No,0.906,0.511,52.341465
3,3,Almond Joy,Yes,No,No,Yes,No,No,No,Yes,No,0.465,0.767,50.347546
4,4,Baby Ruth,Yes,No,Yes,Yes,Yes,No,No,Yes,No,0.604,0.767,56.914547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,78,Twizzlers,No,Yes,No,No,No,No,No,No,No,0.220,0.116,45.466282
79,79,Warheads,No,Yes,No,No,No,No,Yes,No,No,0.093,0.116,39.011898
80,80,Welch's Fruit Snacks,No,Yes,No,No,No,No,No,No,Yes,0.313,0.313,44.375519
81,81,Werther's Original Caramel,No,No,Yes,No,No,No,Yes,No,No,0.186,0.267,41.904308
82,82,Whoppers,Yes,No,No,No,No,Yes,No,No,Yes,0.872,0.848,49.524113

In [ ]:
Q9:Find the mean winpercent

In [28]:
print("Abishek Charles V")
print("URK21CS1053")
df['winpercent'].mean()

Abishek Charles V
URK21CS1053

50.58490762650603

In [ ]:
Q10:Display how many competitors are both Chocolate and fruity

In [29]:
print("Abishek Charles V")
print("URK21CS1053")
print(df[(df['chocolate']=='Yes')&(df['fruity']=='Yes')])

Abishek Charles V
URK21CS1053
    id competitorname chocolate fruity caramel peanutyalmondy nougat  \
72  72    Tootsie Pop       Yes    Yes      No             No     No

   crispedricewafer hard bar pluribus  sugarpercent  pricepercent  winpercent
72               No  Yes  No       No         0.604         0.325   48.982651

In [ ]:
Q11:Display how many competitors are both hard and bar

In [30]:
print("Abishek Charles V")
print("URK21CS1053")
print(df[(df['hard']=='Yes')&(df['bar']=='Yes')])

Abishek Charles V
URK21CS1053
Empty DataFrame
Columns: [id, competitorname, chocolate, fruity, caramel, peanutyalmondy, nougat, crispedricewafer, hard, bar, pluribus, sugarpercent, pricepercent, winpercent]
Index: []

In [ ]:
Q12:Display which competitor has the highest win percent

In [31]:
print("Abishek Charles V")
print("URK21CS1053")
df.loc[df['winpercent'].idxmax()]['competitorname']

Abishek Charles V
URK21CS1053

"Reese's Peanut Butter cup"

In [ ]:
Q13:Sort the competitors by winpercent

In [32]:
print("Abishek Charles V")
print("URK21CS1053")
print(df.sort_values(by='winpercent')['competitorname'].to_string())

Abishek Charles V
URK21CS1053
42                      Nik L Nip
5              Boston Baked Beans
10                       Chiclets
70                   Super Bubble
24                     Jawbusters
55              Root Beer Barrels
69                    Sugar Daddy
68                   Sugar Babies
17              Haribo Happy Cola
7              Caramel Apple Pops
67            Strawberry bon bons
57                        Sixlets
53                       Ring pop
9      Chewey Lemonhead Fruit Mix
48                      Red vines
46                   Pixie Sticks
60                Nestle Smarties
6                      Candy Corn
8                 Charleston Chew
79                       Warheads
28                      Lemonhead
14                        Fun Dip
43                    Now & Later
12                       Dum Dums
47                      Pop Rocks
27                    Laffy Taffy
81     Werther's Original Caramel
19             Haribo Twin Snakes
11                           Dots
56                          Runts
73           Tootsie Roll Juniors
13                    Fruit Chews
80           Welch's Fruit Snacks
78                      Twizzlers
74           Tootsie Roll Midgies
61                 Smarties candy
44                         Payday
32                     Mike & Ike
15                     Gobstopper
76              Trolli Sour Bites
37                         Mounds
72                    Tootsie Pop
82                       Whoppers
75        Tootsie Roll Snack Bars
3                      Almond Joy
18              Haribo Sour Bears
2                       Air Heads
65          Sour Patch Tricksters
29    Lifesavers big ring gummies
38                    Mr Good Bar
71                   Swedish Fish
33                      Milk Duds
59             Skittles wildberry
39                          Nerds
20               Hershey's Kisses
22       Hershey's Milk Chocolate
4                       Baby Ruth
16              Haribo Gold Bears
25                   Junior Mints
23         Hershey's Special Dark
63               Snickers Crisper
64                Sour Patch Kids
35             Milky Way Midnight
21              Hershey's Krackel
58              Skittles original
36       Milky Way Simply Caramel
54                           Rolo
41                  Nestle Crunch
31                          M&M's
0                       100 Grand
66                      Starburst
1                    3 Musketeers
45                    Peanut M&Ms
40            Nestle Butterfinger
30            Peanut butter M&M's
52    Reese's stuffed with pieces
34                      Milky Way
51                 Reese's pieces
62                       Snickers
26                        Kit Kat
77                           Twix
49             Reese's Miniatures
50      Reese's Peanut Butter cup

In [ ]:
Result:
    Thus the python programs are executed successfully and the output is verified.